#home-header{
  background-color: rgb(59, 24, 104);
  font-family: 'Fredoka One', cursive;
  font-family: 'Righteous', cursive;
  color: #f8f8f8;
  opacity: 0.70;
  margin-bottom: 2%;
  margin-top: .2%;
}


/* .list-group-item {
  line-height: 2.5;
} */
/* 
.body{
  background-image: url('/public/assets/images/chat_bg.png');
}
#home-header{
  background-color: rgb(64, 138, 167);
  /* font-family: 'Fredoka One', cursive; */
  /* font-family: 'Righteous', cursive;
  
 
}
#appName{
  font-size: 65px;
  text-shadow: 2px 2px white;
}
#desc{
  text-shadow: .9px .9px white;
  font-size: 18px;
} */ 

/* #jumbo{
  height: 100%;
  width: 100%;
  margin: 0 5% 0 5%;
  text-align: center;
  background-color: red;
  align-content: center;
  text-align: center;
  padding: 5% 2% 5% 2%;
  align-content: center;
  border: yellow;
} */

/* #name{
  text-align: center;
}
#credentials{
  background-color: rgba(167, 51, 51, .95);
  font-family: 'Fredoka One', cursive; */
  /* font-family: 'Righteous', cursive; */
  /* height: 100%;
  width: 100;
  content: center;
  margin: 5% 25% 0 25%;
  padding: 1% 0 1% 0; */
  /* opacity: .85;; */
/* } */

/* #uName{
  text-align: center;
  font-family: 'Fredoka One', cursive; */
  /* font-family: 'Righteous', cursive; */
  /* align-content: center;
} */

/* #link-to-picture{
  margin-top: 3%;
}
#uploadFace, #cancel{
  border-radius: 6px;
  background-color: blue;
  text-align: center;
  font-size: 14px;
  margin: 2px 2px;
  align-content: center;
} 
    */


    body{
      margin: 0;
      padding: 0;
      background-image: url("../assets/images/chat_bg.png");
      background-size: cover;
      background-position: center;
      font-family: 'Righteous', cursive;
    }


    .loginbox {
      width: 40%;
      height: 92%;
      background: #000;
      color: #fff;
      top: 55%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -48%);
      box-sizing: border-box;
      padding: 70px 30px;
      border-radius: 10%;
    }

    .avatar{
      width: 125px;
      height: 125px;
      border-radius: 50%;
      position: absolute;
      top: -11%;
      left: calc(50% - 65px);
    }

    .avatar2{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      top: -12%;
      left: calc(50% - 62px);
    }


    h1{
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }

    .loginbox p{
      margin: 0;
      padding: 0;
      font-weight: bold;
    }

    .loginbox input{
      width: 100%;
      margin-bottom: 35px;
    }

    .loginbox input[type="text"], input[type="password"]
    {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }

    .loginbox input[type="submit"]
    {
      border: none;
      outline: none;
      height: 40px;
      background: #368dc0;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }

    .loginbox input[type="submit"]:hover
    {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }

    .loginbox a{
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }

    .register-center{
      width: 370px;
      height: 525px;
      border: none;
      background: #000;
      border-radius: 10%;
      padding: 5%;
      margin-top: 15%;
      margin-left: 20%;
      content: center;
      box-sizing: border-box;
      margin-bottom: 8%;
    }

    .register-center p{
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    
    .register-center h2{
      text-align: center;
      margin-bottom: 10px;
      color: white;
      margin-top: 6%;
    }

    .register-center input[type="text"], input[type="password"]
    {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }

    .register-center input{
      width: 100%;
      margin-bottom: 35px;
    }

    .register-center input[type="submit"]
    {
      border: none;
      outline: none;
      height: 40px;
      background: #368dc0;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }

    .register-center input[type="submit"]:hover
    {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }

    .register-center a{
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }

/* 
    .videobox {
      width: 40%;
      height: 15%;
      background: yellow;
      color: #fff;
      top: 50%;
      left: 75%;
      position: top;
      transform: translate(-65%, -65%);
      box-sizing: border-box;
      padding: 70px 30px;
      border-radius: 10%;
    } */

 #Identical{
      color: red;
    }
    #fresh, #old{
      max-width: 500px;
      max-height: 500px;
      border: solid 10px black;
      border-radius: 10px;
    }

    .loginbox input[type="button"]
    {
      border: none;
      outline: none;
      height: 30px;
      background: #368dc0;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
      text-align: center;
    }

    .loginbox input[type="button"]:hover
    {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }


    #captureBox{
      /* border: #ffc107; */
      border-color: 100px outset #ddd;
      background-color: #368dc0;
    }

         #Identical{
      color: red;
    }
    #fresh, #old{
      max-width: 500px;
      max-height: 500px;
      border: solid 10px black;
      border-radius: 10px;
    }
    .videostream{
      border: solid 10px white;
      border-radius: 10px;
      max-width: 400px;
      width: auto;
      height: auto;
      background-color: black;
      position: relative;
      left: -150px;
      bottom: -250PX;

    }
    #screenshot-img{
      border: solid 10px white;
      border-radius: 10px;
      max-width: 400px;
      width: auto;
      height: auto;
      background-color: black;
      position: relative;
      left: 350px;
      top: 100px;
    }
    .capture-button{
       position: relative;
        left: -20px;
         top: 300px;
    }
    #screenshot-button{
       position: relative;
        left: 105px;
         top: 255px;
    }
    #capture{
      position: relative !important ;
      top: -400px;
      left: -200px !important;

    }