<div id="home">
  <br>
  <div id="home-header">
    <div class="container clearfix">
      <div class="row">
        <h4 id="header-tagline" class="col-xs-7 col-md-9">Meet and chat with new people for free!
        </h4>
        <div id="header-login" class="col-xs-5 col-md-3">
          <button type="button" class="btn btn-md btn-black">Member Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="content=center">
  <form action="action_page.php">
    <div id="credentials">
      <label for="userName"><b>Create Username</b></label>
      <input type="text" id="username" placeholder="Enter Username" required>
      <br>
      <label for="firstName"><b>First Name</b></label>
      <input type="text" id="first_name" placeholder="Enter Password" name="psw" required>
      <br>
      <label for="lastName"><b>Last Name</b></label>
      <input type="text" id="last_name" placeholder="Enter Password" name="psw" required>
      <br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <textarea class="form-control" id="link-to-picture" aria-describedby="example-description"
        placeholder="Enter link to Picture"></textarea>
      <br>
      <button id="uploadFace" type="submit">Submit</button>
    </div>
</div>
</form>

{{!-- <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="form-group">
          <label for="link-to-face">Link to Face Picture</label>
          <textarea class="form-control" id="link-to-picture" aria-describedby="example-description" placeholder="Enter link to Face Picture"></textarea>
          <button id="uploadFace" class="btn btn-success float-right delete" >Upload Face</button>
        </div>
      </div>
    </div>
  </div> --}}

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>