<div id="home">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="form-group">
          <label for="link-to-face">Link to Face Picture</label>
          <textarea class="form-control" id="link-to-picture" aria-describedby="example-description" placeholder="Enter link to Face Picture"></textarea>
          <button id="uploadFace" class="btn btn-success float-right delete" >Upload Face</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

