<div class='videobox'>
    <div class='row'>
      <video autoplay></video>
      <img src="">
      <canvas style="display:none;"></canvas>
      <div id="screenshot" style="text-align:center;">
        <video class="videostream" autoplay=""></video>
        <img id="screenshot-img" />
        <p><button class="capture-button">Start Camera</button></p>
        <p><button id="screenshot-button">Take Picture</button></p>
      </div>
    </div>
  </div>
  <div class= 'img-container'>
    <video id="capturebox" autoplay width="306" height="150"></video>
  <img src="">
  <canvas style="display:none"></canvas>
  <img id="screenshot-img" style="text-align:center, border-color:white, background-color: white">
  </div>
<div class="loginbox">
  <img src="../assets/images/login_avatar.png" class="avatar">
  <h1>Login Here</h1>
  <form action= "/api/face/compare" method= 'POST'>
    <p>Username</p>
    <input type="text" id="userName" name="username" placeholder="Enter Username">
    {{!-- <p>Password</p>
    <input type="password" id="logInPassword" placeholder="Enter Password">
    <br> --}}
    <p>Link to Picture</p>
    <textarea class="form-control" id="login-link-to-fresh-picture" aria-describedby="example-description"
            placeholder="Enter link to Picture" name= 'link_to_fresh_foto'></textarea>
    <br>
    <input id="submit-login" type="submit" name="login" value="Login">
  </form>
</div>


<script src="/js/index.js"></script>
<script src="/js/view.js"></script>